@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");

body {
    font-family: "Science Gothic", sans-serif;
  color: white;
}

section {
  background-color: #141414;
  width: 300px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 10px 0;
}

.card_title {
  text-align: center;
}

.title {
  font-size: 23px;
  margin: 10px 0;
  margin-bottom: 10px;
}

.title h5 p {
  margin: 0;
}

.title p {
  font-size: 16px;
  color: #c4f82a;
}

.card_title img {
  width: 80px;
  height: auto;
  border-radius: 999px;
}

.btn_list {
  margin-top: 30px;
}

.btn_list a {
  display: block;
  text-align: center;
  background-color: #333333;
  margin: 10px 20px;
  border-radius: 4px;
  height: 20px;
  padding: 8px;
  color: #ffffff;
  text-decoration: none;
}

.btn_list a:hover {
  background-color: #c4f82a;
  color: #333333;
  border: 1px solid transparent;
}

.contact_btn {
  background-color: white;
  border-radius: 999px;
  height: 80px;
  width: 80px;
  font-size: 40px;
}
